@define-color base #191724;
@define-color surface0 #1f1d2e;
@define-color surface1 #26233a;

@define-color overlay0 #6e6a86;
@define-color overlay1 #908caa;
@define-color overlay2 #e0def4;

@define-color text #e0def4;
@define-color subtext0 #908caa;
@define-color subtext1 #6e6a86;

@define-color love #eb6f92;
@define-color gold #f6c177;
@define-color rose #ebbcba;
@define-color pine #31748f;
@define-color foam #9ccfd8;
@define-color iris #c4a7e7;
@define-color highlightLow #21202e;
@define-color highlightMed #403d52;
@define-color highlightHigh #524f67;

/* Aliases to match Catppuccin variable naming */
@define-color red @love;
@define-color yellow @gold;
@define-color pink @rose;
@define-color blue @pine;
@define-color teal @foam;
@define-color lavender @iris;
@define-color green #31748f;
@define-color text #e0def4;
@define-color base #191724;
